@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
  
  --color-gold: #d4af37;
  --color-gold-light: #f3e5ab;
  --color-navy: #0b192c;
  --color-navy-light: #162a45;
}

:root {
  --background: #0b192c;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}
